[submodule "reference-code/KAIR"]
	path = reference-code/KAIR
	url = https://github.com/cszn/KAIR.git
[submodule "reference-code/SCUNet"]
	path = reference-code/SCUNet
	url = https://github.com/cszn/SCUNet.git
[submodule "reference-code/DISTS"]
	path = reference-code/DISTS
	url = https://github.com/dingkeyan93/DISTS.git
[submodule "reference-code/NVEnc"]
	path = reference-code/NVEnc
	url = https://github.com/rigaya/NVEnc
[submodule "reference-code/vs-mlrt"]
	path = reference-code/vs-mlrt
	url = https://github.com/AmusementClub/vs-mlrt.git
[submodule "reference-code/video-sdk-samples"]
	path = reference-code/video-sdk-samples
	url = https://github.com/NVIDIA/video-sdk-samples.git
